extends layout

block content
  h1= title
  p Welcome to #{title} 
  h1 hello jitto hello 
  table 
    thead
      tr
        th 내용 
        th 인사
        th 상태
    tbody
      tr
        td 하하ㅏ하하하핰
        td 네, 안녕하세요
        td 진짜 너무 배고픕니다.